header {
  background-color: #2f1f0b6c;
  display: flex;

  justify-content: center;
}
p {
  color: white;
  font-size: 1.1rem;
  line-height: 1.7;
  font-family: "Crimson Text", serif;
}
h3 {
  font-family: "Josefin Sans", sans-serif;
}
.frontpage {
  display: flex;
  background-size: cover;
  background-image: url(img/Coffee1.jpg);
}
h1 {
  top: 20px;
  position: sticky;
  padding-bottom: 0.2rem;
  border-bottom: solid;
  align-self: center;
  font-family: "Cinzel Decorative", cursive;
  text-align: center;
  margin: 0px;
  color: white;
  font-size: 4rem;
}
nav {
  display: flex;
  width: 100vw;
  position: fixed;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  background-image: url(img/navImg.jpg);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.452);
  font-family: "Josefin Sans", sans-serif;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #666666;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

h2:hover {
  cursor: pointer;
}
h2 {
  font-family: "Cinzel Decorative", cursive;
  width: fit-content;
  margin-right: 0rem;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 2.5rem;
  color: white;
}
body {
  background-color: #282424;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  margin: 0px;
}
.divider {
  margin: 0px;
  height: 1vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.329);
}
.home {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}

.img1 {
  grid-area: 1 / 1 / 10 / 10;
}

.Homehtext1 {
  grid-area: 1 / 10 / 4 / 19;
}

.Homeunderline1 {
  grid-area: 3 / 8 / 4 / 19;
}

.Homeptext1 {
  grid-area: 4 / 10 / 10 / 19;
}

.img2 {
  grid-area: 11 / 10 / 20 / 20;
}

.Homehtext2 {
  grid-area: 11 / 2 / 14 / 10;
}

.Homeptext2 {
  grid-area: 14 / 2 / 20 / 10;
}

.Homeunderline2 {
  grid-area: 13 / 2 / 14 / 12;
}

.htext {
  align-self: flex-end;
}
.htext h2 {
  margin: 0px;
  padding: 0px;
}

.ptext {
  color: white;
  margin-left: 1rem;
}

.underline {
  border-bottom: solid saddlebrown 0.3rem;
  margin: 0px;
}

.img1 {
  border-radius: 5px 5px;
  background-image: url(img/homeImg1.jpg);
}
.img2 {
  background-size: cover;
  background-image: url(img/homeImg2.jpg);
}
.shopPreview {
  height: 80vh;
  padding-top: 10rem;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.205);
  display: flex;
}

.shopPreview h2 {
  align-self: center;
  text-align: center;
  font-size: 3.5rem;
  border-bottom: saddlebrown solid 0.3rem;
}
.shopView {
  height: fit-content;
  color: white;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
.shopView img {
  padding-bottom: 5rem;
  border-bottom: saddlebrown solid 0.3rem;
  padding: 0px;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  object-fit: contain;
  height: 22rem;
}
.shopView h3 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.shopView p {
  margin-left: 2rem;
  margin-right: 2rem;
}
.shopImg {
  background-size: cover;
  background-image: url(img/shopImg.jpg);
}
.Product {
  height: fit-content;
}
.button {
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-top: 4rem;
  align-self: center;
  padding: 1rem;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  text-align: center;
  background-color: firebrick;
}
.subImg{
  background-size: cover;
  background-image: url(img/SubImg.jpg);
}

.Subintro {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}

.SubImg1 {
  grid-area: 1 / 1 / 9 / 5;
  background-image: url(img/subImg1.jpg);
}

.subhtext1 {
  grid-area: 1 / 5 / 3 / 8;
}

.subunderline1 {
  grid-area: 2 / 3 / 3 / 8;
}

.subptext1 {
  grid-area: 3 / 5 / 9 / 8;
}

.perksContainer {
  background-color: rgba(0, 0, 0, 0.205);
  padding-top: 5rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.perksContainer h2 {
  border-bottom: saddlebrown solid 0.3rem;
  align-self: center;
}
.perks {
  justify-content: center;
  display: flex;
}
.perk {
  text-align: center;
  line-height: 1.7;
  margin: 1rem;
  border-right: solid rgba(255, 255, 255, 0.13);
  color: white;
  width: 15vw;
}
.perk h3 {
  font-family: "Cinzel Decorative", cursive;
}
.personalize {
  width: 100vw;
  height: 50vh;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}

.SubImg2 {
  grid-area: 1 / 5 / 9 / 9;
  background-size: cover;
  background-image: url(img/subImg2.jpg);
}

.subhtext2 {
  grid-area: 1 / 2 / 3 / 5;
}

.subunderline2 {
  grid-area: 2 / 2 / 3 / 7;
}

.subptext2 {
  grid-area: 3 / 2 / 9 / 5;
}
.AboutImg {
  background-size: cover;
  background-image: url(img/aboutImg.jpg);
}
.About1 {
  margin-top: 5rem;
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}

.AboutImg1 {
  grid-area: 1 / 5 / 9 / 9;
  background-size: cover;
  background-image: url(img/aboutImg1.jpg);
}

.Abouthtext1 {
  grid-area: 1 / 2 / 3 / 5;
}

.Aboutunderline1 {
  grid-area: 2 / 2 / 3 / 7;
}

.Aboutptext1 {
  grid-area: 3 / 2 / 9 / 5;
}

.About2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}

.AboutImg2 {
  grid-area: 1 / 1 / 9 / 5;
  background-size: cover;
  background-image: url(img/aboutImg2.jpg);
}

.Abouthtext2 {
  grid-area: 1 / 5 / 3 / 8;
}

.Aboutunderline2 {
  grid-area: 2 / 3 / 3 / 8;
}

.Aboutptext2 {
  grid-area: 3 / 5 / 9 / 8;
}

.certification {
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.205);
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.certification h2 {
  align-self: center;
}
.certification img {
  margin: 10rem;
  object-fit: contain;
  height: 8rem;
}
.questions {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}
.questions p {
  font-size: 1.5rem;
  align-self: center;
}
.questions h2 {
  border-bottom: saddlebrown solid 0.3rem;
  align-self: center;
}
.answers {
  display: flex;
  align-self: center;
}
.answer {
  font-weight: bold;
  margin: 1rem;
  border: rgba(255, 255, 255, 0.274) solid;
  padding: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: white;
}
.questions img {
  object-fit: contain;
  height: 25rem;
}

footer {
  grid-row: 5;
  margin-top: 10rem;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
}

.socials {
  display: flex;
  justify-content: baseline;
  font-size: 25px;
}
.socials i {
  color: white;
  margin: 10px;
}
.newsletter {
  display: flex;
}
.newsletter p {
  font-family: "Josefin Sans", sans-serif;
}
.newsletter input {
  border: none;
  margin: 10px;
  padding: 2px;
}
.newsletter input::placeholder {
  color: black;
}
.fillscreen {
  height: 100vh;
  width: 100vw;
}
.halfscreen {
  height: 70vh;
  width: 100vw;
}
